[submodule "docs/submodule/Collateral"]
	path = docs/submodule/Collateral
	url = https://github.com/eclipse-edc/Collateral.git
[submodule "docs/submodule/Connector"]
	path = docs/submodule/Connector
	url = https://github.com/eclipse-edc/DataSpaceConnector.git
[submodule "docs/submodule/DataDashboard"]
	path = docs/submodule/DataDashboard
	url = https://github.com/eclipse-edc/DataDashboard.git
[submodule "docs/submodule/FederatedCatalog"]
	path = docs/submodule/FederatedCatalog
	url = https://github.com/eclipse-edc/FederatedCatalog.git
[submodule "docs/submodule/IdentityHub"]
	path = docs/submodule/IdentityHub
	url = https://github.com/eclipse-edc/IdentityHub.git
[submodule "docs/submodule/MinimumViableDataspace"]
	path = docs/submodule/MinimumViableDataspace
	url = https://github.com/eclipse-edc/MinimumViableDataspace.git
[submodule "docs/submodule/Publications"]
	path = docs/submodule/Publications
	url = https://github.com/eclipse-edc/Publications.git
[submodule "docs/submodule/GradlePlugins"]
	path = docs/submodule/GradlePlugins
	url = https://github.com/eclipse-edc/GradlePlugins.git
[submodule "docs/submodule/TrustFrameworkAdoption"]
	path = docs/submodule/TrustFrameworkAdoption
	url = https://github.com/eclipse-edc/TrustFrameworkAdoption.git
[submodule "docs/submodule/GitHub"]
	path = docs/submodule/GitHub
	url = https://github.com/eclipse-edc/.github.git
[submodule "docs/documentation"]
	path = docs/documentation
	url = https://github.com/eclipse-edc/docs.git
	shallow = true
[submodule "docs/samples"]
	path = docs/samples
	url = https://github.com/eclipse-edc/Samples.git
